/* ======== Colors ============ */
$background: #151515;
$backgroud-light: #1f1f1f;
$primary: #37ab00;
$secondary: #e91e63;
$tertiary: #9c27b0;

/* ======== Fonts ============ */

$font-step-0: clamp(1.13rem, calc(0.83rem + 0.75vw), 1.5rem);

/* ======== Breakpoints ============ */

/* ======== Spacing ============ */

/* ======== Shadows ============ */

/* ======== Borders ============ */

/* ======== Transitions ============ */

/* ======== Z-Index ============ */

/* ======== Opacity ============ */

