<section class="flex-col">

  <h3 class="text-xl mt-4 ml-4">
    Seus artistas favoritos
  </h3>
  <app-top-artist class="block"></app-top-artist>

  <h3 class="text-lg mt-4 ml-4">
    Suas músicas mais tocadas
  </h3>

  <table class="table mt-2 mx-auto">
    <thead>
      <tr>
        <th class="w-5 text-center" >#</th>
        <th class="w-20">Título</th>
        <th class="w-20"*ngIf="screenWidth > 1000">Album</th>
        <th class="w-5 text-left">
          <mat-icon class="text-light">access_time</mat-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let track of tracks; index as i;"
        (click)="playTrack(track)"
        [class.active]="track.id === currentTrack?.id"
      >
        <td class="text-center text-xs">
            <span> {{ i + 1}}</span>
        </td>
        <td class="flex items-center h-full">
          <img class="w-10 h-10" src="{{track.album.image}}" alt="">
          <div class="flex-col ml-2">
            <span>{{track.name}}</span>
            <div class="flex items-center">
              <mat-icon *ngIf="track.explicit" class="text-light text">explicit</mat-icon>
              <span class="text-xs lighter text-light">{{ getArtists(track) }}</span>
            </div>
          </div>
        </td>
        <td *ngIf="screenWidth > 1000">{{ track.album.name }}</td>
        <td class="text-left">{{ track.duration_ms}}</td>
      </tr>
  </table>

</section>
<app-right-panel *ngIf="screenWidth > 768"></app-right-panel>
