@import 'variables';

:host {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: min(200px, 50vw);
  overflow: hidden;
  margin: 0 auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    overflow: auto;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  position: relative;
  height: min(200px, 50vw);
  width: min(200px, 50vw);
  cursor: pointer;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0 2px 5px #000;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.image {
  position: absolute;
  inset: 0;
  z-index: 0;

  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;

  transition: opacity 0.3s ease-in-out;
}

.container:hover {
  .image {
    opacity: 0.8;
  }
}
